# Data Management: Barclays Center Events Dataset

## This notebook:
1. Parse event info of 2016 from Barclays Center's Facebook page
2. Returns a csv with events ('events_2016.csv')
3. Manage time variables and subset events beginning after 17:00
4. Returns a csv with subset events ('events_2016_subset.csv')

## Parse events data

In [ ]:
import os
import requests
import facebook

import numpy as np
import pandas as pd
import matplotlib.pylab as plt

In [ ]:
# define a function that parse event info from Facebook
# sample code retrieved from https://gist.github.com/mylsb/10294040
def some_action(event,results):
    """ Here you might want to do something with each post. E.g. grab the
    post's message (post['message']) or the post's picture (post['picture']).
    In this implementation we just print the post's created time.
    """
    #print(event['start_time'])
    date = event['start_time'].split('-')
    if date[0] == '2016':
        results.append([event['id'], event['name'], event['start_time']])
        #print(event['id'])

In [ ]:
# set up parameters for parsing
results = []

# API token: https://developers.facebook.com/tools/explorer/
access_token = os.getenv('$FBAPIKEY')

# Barclays Center Facebook id
user = 'barclayscenter'

graph = facebook.GraphAPI(access_token)
profile = graph.get_object(user)
events = graph.get_connections(profile['id'], 'events')

In [ ]:
# run code
while True:
    try:
        # Perform some action on each post in the collection we receive from
        # Facebook.
        [some_action(event, results) for event in events['data']]
        # Attempt to make a request to the next page of data, if it exists.
        events = requests.get(events['paging']['next']).json()
    except KeyError:
        # When there are no more pages (['paging']['next']), break from the
        # loop and end the script.
        break

In [ ]:
# examine and clean up dataframe
df = pd.DataFrame(results)
df.columns = ['EventID','Name','Start_Time']
df.head()

In [ ]:
len(df)

In [ ]:
df.to_csv('events_2016.csv')

## Manually assign event types outside of notebook
events_2016.csv -> events_2016_modified.csv
## Add event end time variable

In [17]:
event = pd.read_csv('events_2016_modified.csv')
event.drop('Unnamed: 0', axis=1, inplace=True)
event.head()

,EventID,Event_type,Name,Start_Time,Start_Hour,End_Time
0,1.520000e+15,basketball,Harlem Globetrotters,2016-01-02T14:00:00-0500,NaN,2016-01-02T16:00:00-0500
1,1.490000e+15,basketball,Harlem Globetrotters,2016-01-02T19:00:00-0500,NaN,2016-01-02T21:00:00-0500
2,2.010000e+14,basketball,Brooklyn Nets vs. Boston Celtics,2016-01-04T19:30:00-0500,NaN,2016-01-04T21:30:00-0500
3,1.080000e+15,basketball,Brooklyn Nets vs. Toronto Raptors,2016-01-06T19:30:00-0500,NaN,2016-01-06T21:30:00-0500
4,1.390000e+15,basketball,Brooklyn Nets vs. Orlando Magic,2016-01-08T19:30:00-0500,NaN,2016-01-08T21:30:00-0500

In [13]:
# remove unreasonable timezone element
event['Start_Time'] = [str(i)[:-5] for i in event['Start_Time']]
event['End_Time'] = [str(i)[:-5] for i in event['End_Time']]

# extract hour element from time
event['Start_Time'] = pd.to_datetime(event['Start_Time'], format='%Y-%m-%dT%H:%M:%S')
event['Start_Hour'] = event['Start_Time'].dt.hour

event['End_Time'] = pd.to_datetime(event['End_Time'], format='%Y-%m-%dT%H:%M:%S')
event['End_Hour'] = event['End_Time'].dt.hour
event.head()

,EventID,Event_type,Name,Start_Time,Start_Hour,End_Time,End_Hour
0,1.520000e+15,basketball,Harlem Globetrotters,2016-01-02 14:00:00,14,2016-01-02 16:00:00,16
1,1.490000e+15,basketball,Harlem Globetrotters,2016-01-02 19:00:00,19,2016-01-02 21:00:00,21
2,2.010000e+14,basketball,Brooklyn Nets vs. Boston Celtics,2016-01-04 19:30:00,19,2016-01-04 21:30:00,21
3,1.080000e+15,basketball,Brooklyn Nets vs. Toronto Raptors,2016-01-06 19:30:00,19,2016-01-06 21:30:00,21
4,1.390000e+15,basketball,Brooklyn Nets vs. Orlando Magic,2016-01-08 19:30:00,19,2016-01-08 21:30:00,21

In [14]:
# subset events that began after 17:00
event_evening = event[event['Start_Hour'] >= 17.0]
event_evening.head()

,EventID,Event_type,Name,Start_Time,Start_Hour,End_Time,End_Hour
1,1.490000e+15,basketball,Harlem Globetrotters,2016-01-02 19:00:00,19,2016-01-02 21:00:00,21
2,2.010000e+14,basketball,Brooklyn Nets vs. Boston Celtics,2016-01-04 19:30:00,19,2016-01-04 21:30:00,21
3,1.080000e+15,basketball,Brooklyn Nets vs. Toronto Raptors,2016-01-06 19:30:00,19,2016-01-06 21:30:00,21
4,1.390000e+15,basketball,Brooklyn Nets vs. Orlando Magic,2016-01-08 19:30:00,19,2016-01-08 21:30:00,21
5,1.230000e+15,basketball,Brooklyn Nets vs. San Antonio Spurs,2016-01-11 19:30:00,19,2016-01-11 21:30:00,21

In [15]:
# create a dummy indicator for weekday
event_evening['weekday'] = [i not in [5,6] for i in event_evening['Start_Time'].dt.weekday.values]
event_evening

/Users/Yuwen/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,EventID,Event_type,Name,Start_Time,Start_Hour,End_Time,End_Hour,weekday
1,1.490000e+15,basketball,Harlem Globetrotters,2016-01-02 19:00:00,19,2016-01-02 21:00:00,21,False
2,2.010000e+14,basketball,Brooklyn Nets vs. Boston Celtics,2016-01-04 19:30:00,19,2016-01-04 21:30:00,21,True
3,1.080000e+15,basketball,Brooklyn Nets vs. Toronto Raptors,2016-01-06 19:30:00,19,2016-01-06 21:30:00,21,True
4,1.390000e+15,basketball,Brooklyn Nets vs. Orlando Magic,2016-01-08 19:30:00,19,2016-01-08 21:30:00,21,True
5,1.230000e+15,basketball,Brooklyn Nets vs. San Antonio Spurs,2016-01-11 19:30:00,19,2016-01-11 21:30:00,21,True
6,9.200000e+14,basketball,Brooklyn Nets vs. New York Knicks,2016-01-13 19:30:00,19,2016-01-13 21:30:00,21,True
7,1.110000e+14,basketball,Brooklyn Nets vs. Portland Trail Blazers,2016-01-15 19:30:00,19,2016-01-15 21:30:00,21,True
8,1.720000e+15,boxing,Heavyweight Championship: Deontay Wilder v. Ar...,2016-01-16 18:00:00,18,2016-01-16 19:00:00,19,False
11,1.650000e+15,basketball,Brooklyn Nets vs. Cleveland Cavaliers,2016-01-20 19:30:00,19,2016-01-20 21:30:00,21,True
12,1.660000e+15,concert,Kygo,2016-01-21 20:00:00,20,2016-01-21 23:00:00,23,True
13,8.870000e+14,basketball,Brooklyn Nets vs. Utah Jazz,2016-01-22 19:30:00,19,2016-01-22 21:30:00,21,True
14,4.640000e+14,basketball,Brooklyn Nets vs. Oklahoma City Thunder,2016-01-24 19:30:00,19,2016-01-24 21:30:00,21,False
15,1.070000e+15,basketball,Brooklyn Nets vs. Miami Heat,2016-01-26 19:30:00,19,2016-01-26 21:30:00,21,True
16,9.170000e+14,concert,Muse: Drones World Tour,2016-01-27 19:30:00,19,2016-01-27 22:30:00,22,True
17,4.960000e+14,basketball,Brooklyn Nets vs. Detroit Pistons,2016-02-01 19:30:00,19,2016-02-01 21:30:00,21,True
18,8.510000e+14,basketball,Brooklyn Nets vs. Indiana Pacers,2016-02-03 19:30:00,19,2016-02-03 21:30:00,21,True
19,1.270000e+15,basketball,Brooklyn Nets vs. Sacramento Kings,2016-02-05 19:30:00,19,2016-02-05 21:30:00,21,True
20,1.720000e+15,basketball,Brooklyn Nets vs. Denver Nuggets,2016-02-08 19:30:00,19,2016-02-08 21:30:00,21,True
21,1.520000e+15,basketball,Brooklyn Nets vs. Memphis Grizzlies,2016-02-10 19:30:00,19,2016-02-10 21:30:00,21,True
22,4.980000e+14,other,Ladies Night R&B Super Jam,2016-02-12 20:00:00,20,2016-02-12 23:00:00,23,True
23,9.260000e+14,concert,Maxwell and Nas,2016-02-14 20:00:00,20,2016-02-14 23:00:00,23,False
24,4.420000e+14,basketball,Brooklyn Nets vs. New York Knicks,2016-02-19 19:30:00,19,2016-02-19 21:30:00,21,True
25,7.120000e+14,basketball,Brooklyn Nets vs. Charlotte Hornets,2016-02-21 18:00:00,18,2016-02-21 20:00:00,20,False
28,5.140000e+14,hockey,New York Islanders vs. Pittsburgh Penguins,2016-03-08 19:30:00,19,2016-03-08 21:30:00,21,True
29,1.500000e+15,basketball,Atlantic 10 Men's Basketball Championship: Fir...,2016-03-09 18:30:00,18,2016-03-09 20:30:00,20,True
31,4.460000e+14,basketball,Atlantic 10 Men's Basketball Championship: Sec...,2016-03-10 18:30:00,18,2016-03-10 20:30:00,20,True
33,1.680000e+15,basketball,Atlantic 10 Men's Basketball Championship: Qua...,2016-03-11 18:30:00,18,2016-03-11 20:30:00,20,True
37,1.650000e+15,basketball,Brooklyn Nets vs. Milwaukee Bucks,2016-03-13 20:00:00,20,2016-03-13 22:00:00,22,False
38,1.190000e+15,basketball,Brooklyn Nets vs. Philadelphia 76ers,2016-03-15 19:30:00,19,2016-03-15 21:30:00,21,True
39,1.860000e+14,hockey,New York Islanders vs. Philadelphia Flyers,2016-03-21 19:30:00,19,2016-03-21 21:30:00,21,True
...,...,...,...,...,...,...,...,...
130,8.930000e+14,family,Disney On Ice presents Follow Your Heart,2016-11-13 17:00:00,17,2016-11-13 19:00:00,19,False
131,1.570000e+14,hockey,New York Islanders v. Tampa Bay Lightning (Bro...,2016-11-14 19:00:00,19,2016-11-14 21:00:00,21,True
132,1.640000e+15,basketball,LIU Brooklyn Blackbirds Men's Basketball vs. L...,2016-11-16 19:00:00,19,2016-11-16 21:00:00,21,True
133,1.620000e+15,hockey,New York Islanders V Pittsburgh Penguins,2016-11-18 19:00:00,19,2016-11-18 21:00:00,21,True
134,2.370000e+14,concert,Keith Urban - ripCORD World Tour 2016,2016-11-19 19:30:00,19,2016-11-19 22:30:00,22,False
136,1.780000e+14,basketball,Legends Classic Basketball Doubleheader,2016-11-21 19:00:00,19,2016-11-21 21:00:00,21,True
140,9.390000e+14,basketball,Brooklyn Nets v. Boston Celtics,2016-11-23 19:30:00,19,2016-11-23 21:30:00,21,True
143,5.840000e+14,basketball,Barclays Center Classic Day 1,2016-11-25 19:00:00,19,2016-11-25 21:00:00,21,True
145,2.920000e+14,basketball,Barclays Center Classic Day 2,2016-11-26 19:00:00,19,2016-11-26 21:00:00,21,False
147,5.520000e+14,basketball,Brooklyn Nets v. Sacramento Kings (Texting Glo...,2016-11-27 18:00:00,18,2016-11-27 20:00:00,20,False
148,1.770000e+15,hockey,New York Islanders v. Calgary Flames (Rally To...,2016-11-28 19:00:00,19,2016-11-28 21:00:00,21,True
149,1.020000e+15,basketball,Brooklyn Nets v. Los Angeles Clippers,2016-11-29 19:30:00,19,2016-11-29 21:30:00,21,True
150,2.620000e+14,hockey,New York Islanders v. Pittsburgh Penguins,2016-11-30 20:00:00,20,2016-11-30 22:00:00,22,True
151,9.550000e+14,basketball,Brooklyn Nets v. Milwaukee Bucks,2016-12-01 19:30:00,19,2016-12-01 21:30:00,21,True
152,2.020000e+14,hockey,New York Islanders v. Detroit Red Wings,2016-12-04 18:00:00,18,2016-12-04 20:00:00,20,False
153,1.770000e+15,basketball,Brooklyn Nets v. Washington Wizards,2016-12-05 19:30:00,19,2016-12-05 21:30:00,21,True
154,6.570000e+14,hockey,New York Islanders v. New York Rangers,2016-12-06 19:00:00,19,2016-12-06 21:00:00,21,True
155,1.220000e+15,basketball,Brooklyn Nets v. Denver Nuggets (Brook Lopez S...,2016-12-07 19:30:00,19,2016-12-07 21:30:00,21,True
156,1.560000e+15,hockey,New York Islanders v. St. Louis Blues,2016-12-08 19:00:00,19,2016-12-08 21:00:00,21,True
157,1.320000e+15,family,Wcbs-Fm 101.1 Presents Holiday in Brooklyn,2016-12-09 20:00:00,20,2016-12-09 22:00:00,22,True
159,9.740000e+14,hockey,New York Islanders v. Washington Capitals (Sta...,2016-12-13 19:00:00,19,2016-12-13 21:00:00,21,True
160,1.250000e+15,basketball,Brooklyn Nets v. Los Angeles Lakers,2016-12-14 19:30:00,19,2016-12-14 21:30:00,21,True
161,1.230000e+15,hockey,New York Islanders V Chicago Blackhawks,2016-12-15 19:00:00,19,2016-12-15 21:00:00,21,True
162,2.390000e+14,hockey,New York Islanders V Ottawa Senators (Ugly Hol...,2016-12-18 19:00:00,19,2016-12-18 21:00:00,21,False
163,1.200000e+15,basketball,LIU Brooklyn Blackbirds Men's Basketball vs. N...,2016-12-21 17:00:00,17,2016-12-21 19:00:00,19,True
164,1.180000e+15,basketball,Brooklyn Nets v. Golden State Warriors,2016-12-22 19:30:00,19,2016-12-22 21:30:00,21,True
165,1.580000e+15,hockey,New York Islanders V Buffalo Sabres,2016-12-23 19:00:00,19,2016-12-23 21:00:00,21,True
167,1.190000e+15,basketball,Brooklyn Nets v. Charlotte Hornets (Winter Sca...,2016-12-26 19:30:00,19,2016-12-26 21:30:00,21,True
168,1.120000e+15,hockey,New York Islanders V Washington Capitals,2016-12-27 19:00:00,19,2016-12-27 21:00:00,21,True
169,9.080000e+14,boxing,WWE Live Holiday Tour,2016-12-28 19:30:00,19,2016-12-28 20:30:00,20,True

In [16]:
event_evening.to_csv('events_2016_subset.csv')