In [3]:
import pandas as pd

In [19]:
event = pd.read_csv('events2016_subset_end.csv')

In [20]:
bike = pd.read_csv('CB2016_subset_800m.csv')

In [21]:
len(event),len(bike)

(135, 60148)

In [7]:
bike.head(1)

,Unnamed: 0,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,startdate,stopdate
0,0,173,16:03:10,16:06:03,243,Fulton St & Rockwell Pl,40.688226,-73.979382,241,DeKalb Ave & S Portland Ave,40.68981,-73.974931,23976,Subscriber,1971.0,2,2016-01-01,2016-01-01

In [8]:
event.head(1)

,Unnamed: 0,Unnamed: 0.1,EventID,Event_type,Name,Start_Time,Start_Hour,End_Time,End_Hour,weekday
0,1,168,1490000000000000,basketball,Harlem Globetrotters,2016-01-02 19:00:00,19,2016-01-02 21:00:00,21,False

In [9]:
event['Date'] = pd.to_datetime(event['Start_Time']).dt.date

In [10]:
#event['E_Time'] = pd.to_datetime(event['End_Time']).dt.time

In [11]:
event.head(1)

,Unnamed: 0,Unnamed: 0.1,EventID,Event_type,Name,Start_Time,Start_Hour,End_Time,End_Hour,weekday,Date
0,1,168,1490000000000000,basketball,Harlem Globetrotters,2016-01-02 19:00:00,19,2016-01-02 21:00:00,21,False,2016-01-02

In [12]:
e = event[['Date','Event_type','End_Time','weekday']]

In [13]:
e.Date = pd.to_datetime(e.Date)
bike.startdate = pd.to_datetime(bike.startdate)

/Users/Yuwen/anaconda/lib/python3.6/site-packages/pandas/core/generic.py:2999: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [14]:
e.head(1)

        Date  Event_type             End_Time  weekday
0 2016-01-02  basketball  2016-01-02 21:00:00    False

In [15]:
bike.head(1)

,Unnamed: 0,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,startdate,stopdate
0,0,173,16:03:10,16:06:03,243,Fulton St & Rockwell Pl,40.688226,-73.979382,241,DeKalb Ave & S Portland Ave,40.68981,-73.974931,23976,Subscriber,1971.0,2,2016-01-01,2016-01-01

In [16]:
joined = bike.merge(e,left_on='startdate',right_on='Date',how='left')

In [17]:
len(bike),len(joined)

(60148, 60522)

In [18]:
joined

,Unnamed: 0,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,...,bikeid,usertype,birth year,gender,startdate,stopdate,Date,Event_type,End_Time,weekday
0,0,173,16:03:10,16:06:03,243,Fulton St & Rockwell Pl,40.688226,-73.979382,241,DeKalb Ave & S Portland Ave,...,23976,Subscriber,1971.0,2,2016-01-01,2016-01-01,NaT,NaN,NaN,NaN
1,1,136,16:05:54,16:08:11,420,Clermont Ave & Lafayette Ave,40.687645,-73.969689,270,Adelphi St & Myrtle Ave,...,17362,Subscriber,1980.0,1,2016-01-01,2016-01-01,NaT,NaN,NaN,NaN
2,2,653,16:13:47,16:24:40,83,Atlantic Ave & Fort Greene Pl,40.683826,-73.976323,278,Concord St & Bridge St,...,16270,Subscriber,1976.0,1,2016-01-01,2016-01-01,NaT,NaN,NaN,NaN
3,3,659,16:13:47,16:24:46,83,Atlantic Ave & Fort Greene Pl,40.683826,-73.976323,278,Concord St & Bridge St,...,22909,Subscriber,1985.0,2,2016-01-01,2016-01-01,NaT,NaN,NaN,NaN
4,4,1419,16:20:39,16:44:19,83,Atlantic Ave & Fort Greene Pl,40.683826,-73.976323,532,S 5 Pl & S 4 St,...,20506,Subscriber,1993.0,1,2016-01-01,2016-01-01,NaT,NaN,NaN,NaN
5,5,1102,16:36:39,16:55:02,83,Atlantic Ave & Fort Greene Pl,40.683826,-73.976323,3064,Myrtle Ave & Lewis Ave,...,22881,Subscriber,1992.0,1,2016-01-01,2016-01-01,NaT,NaN,NaN,NaN
6,6,683,16:44:40,16:56:03,416,Cumberland St & Lafayette Ave,40.687534,-73.972652,323,Lawrence St & Willoughby St,...,16225,Subscriber,1974.0,1,2016-01-01,2016-01-01,NaT,NaN,NaN,NaN
7,7,394,16:50:12,16:56:47,298,3 Ave & Schermerhorn St,40.686832,-73.979677,157,Henry St & Atlantic Ave,...,23612,Subscriber,1968.0,1,2016-01-01,2016-01-01,NaT,NaN,NaN,NaN
8,8,1412,17:06:36,17:30:08,274,Lafayette Ave & Fort Greene Pl,40.686919,-73.976682,3092,Berry St & N 8 St,...,22544,Subscriber,1969.0,2,2016-01-01,2016-01-01,NaT,NaN,NaN,NaN
9,9,159,17:13:14,17:15:54,298,3 Ave & Schermerhorn St,40.686832,-73.979677,3232,Bond St & Fulton St,...,23496,Subscriber,1963.0,1,2016-01-01,2016-01-01,NaT,NaN,NaN,NaN
10,10,1260,17:20:32,17:41:33,416,Cumberland St & Lafayette Ave,40.687534,-73.972652,3104,Kent Ave & N 7 St,...,15382,Customer,NaN,0,2016-01-01,2016-01-01,NaT,NaN,NaN,NaN
11,11,336,17:25:40,17:31:16,241,DeKalb Ave & S Portland Ave,40.689810,-73.974931,366,Clinton Ave & Myrtle Ave,...,23328,Subscriber,1961.0,1,2016-01-01,2016-01-01,NaT,NaN,NaN,NaN
12,12,368,17:44:24,17:50:32,416,Cumberland St & Lafayette Ave,40.687534,-73.972652,416,Cumberland St & Lafayette Ave,...,16279,Subscriber,1981.0,1,2016-01-01,2016-01-01,NaT,NaN,NaN,NaN
13,13,490,17:48:09,17:56:20,83,Atlantic Ave & Fort Greene Pl,40.683826,-73.976323,261,Johnson St & Gold St,...,20370,Subscriber,1990.0,1,2016-01-01,2016-01-01,NaT,NaN,NaN,NaN
14,14,799,17:48:19,18:01:39,353,S Portland Ave & Hanson Pl,40.685396,-73.974315,3042,Fulton St & Utica Ave,...,17704,Subscriber,1963.0,1,2016-01-01,2016-01-01,NaT,NaN,NaN,NaN
15,15,305,18:05:03,18:10:09,397,Fulton St & Clermont Ave,40.684157,-73.969223,274,Lafayette Ave & Fort Greene Pl,...,22865,Subscriber,1979.0,1,2016-01-01,2016-01-01,NaT,NaN,NaN,NaN
16,16,318,18:05:04,18:10:22,397,Fulton St & Clermont Ave,40.684157,-73.969223,274,Lafayette Ave & Fort Greene Pl,...,17050,Subscriber,1984.0,1,2016-01-01,2016-01-01,NaT,NaN,NaN,NaN
17,17,1030,18:09:43,18:26:54,274,Lafayette Ave & Fort Greene Pl,40.686919,-73.976682,3064,Myrtle Ave & Lewis Ave,...,23331,Subscriber,1982.0,1,2016-01-01,2016-01-01,NaT,NaN,NaN,NaN
18,18,563,18:10:38,18:20:01,467,Dean St & 4 Ave,40.683125,-73.978951,261,Johnson St & Gold St,...,24184,Subscriber,1984.0,1,2016-01-01,2016-01-01,NaT,NaN,NaN,NaN
19,19,1333,19:03:03,19:25:16,416,Cumberland St & Lafayette Ave,40.687534,-73.972652,3104,Kent Ave & N 7 St,...,15096,Subscriber,1978.0,2,2016-01-01,2016-01-01,NaT,NaN,NaN,NaN
20,20,245,19:51:10,19:55:16,416,Cumberland St & Lafayette Ave,40.687534,-73.972652,275,Washington Ave & Greene Ave,...,16279,Subscriber,1968.0,1,2016-01-01,2016-01-01,NaT,NaN,NaN,NaN
21,21,1500,20:10:30,20:35:31,420,Clermont Ave & Lafayette Ave,40.687645,-73.969689,420,Clermont Ave & Lafayette Ave,...,22751,Subscriber,1981.0,1,2016-01-01,2016-01-01,NaT,NaN,NaN,NaN
22,22,1167,20:48:36,21:08:03,416,Cumberland St & Lafayette Ave,40.687534,-73.972652,3050,Putnam Ave & Throop Ave,...,18292,Subscriber,1985.0,2,2016-01-01,2016-01-01,NaT,NaN,NaN,NaN
23,23,397,21:51:17,21:57:54,83,Atlantic Ave & Fort Greene Pl,40.683826,-73.976323,365,Fulton St & Grand Ave,...,14918,Subscriber,1970.0,1,2016-01-01,2016-01-01,NaT,NaN,NaN,NaN
24,24,492,22:10:10,22:18:22,397,Fulton St & Clermont Ave,40.684157,-73.969223,354,Emerson Pl & Myrtle Ave,...,18826,Subscriber,1988.0,2,2016-01-01,2016-01-01,NaT,NaN,NaN,NaN
25,25,465,22:10:31,22:18:16,397,Fulton St & Clermont Ave,40.684157,-73.969223,354,Emerson Pl & Myrtle Ave,...,23306,Subscriber,1989.0,1,2016-01-01,2016-01-01,NaT,NaN,NaN,NaN
26,26,393,22:20:16,22:26:50,353,S Portland Ave & Hanson Pl,40.685396,-73.974315,419,Carlton Ave & Park Ave,...,23614,Subscriber,1984.0,1,2016-01-01,2016-01-01,NaT,NaN,NaN,NaN
27,27,356,22:30:26,22:36:23,243,Fulton St & Rockwell Pl,40.688226,-73.979382,258,DeKalb Ave & Vanderbilt Ave,...,19096,Subscriber,1979.0,2,2016-01-01,2016-01-01,NaT,NaN,NaN,NaN
28,28,300,23:04:32,23:09:33,416,Cumberland St & Lafayette Ave,40.687534,-73.972652,83,Atlantic Ave & Fort Greene Pl,...,21991,Subscriber,1976.0,1,2016-01-01,2016-01-01,NaT,NaN,NaN,NaN
29,29,403,23:50:56,23:57:40,420,Clermont Ave & Lafayette Ave,40.687645,-73.969689,298,3 Ave & Schermerhorn St,...,22751,Subscriber,1983.0,1,2016-01-01,2016-01-01,NaT,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60492,60118,1054,20:32:59,20:50:33,3429,Hanson Pl & Ashland Pl,40.685068,-73.977908,3043,Lewis Ave & Decatur St,...,25415,Subscriber,1983.0,1,2016-12-31,2016-12-31,NaT,NaN,NaN,NaN
60493,60119,480,20:34:42,20:42:42,3419,Douglass St & 4 Ave,40.679279,-73.981540,310,State St & Smith St,...,25302,Subscriber,1989.0,1,2016-12-31,2016-12-31,NaT,NaN,NaN,NaN
60494,60120,749,20:39:36,20:52:06,3417,Baltic St & 5 Ave,40.679577,-73.978550,3300,Prospect Park West & 8 St,...,27229,Subscriber,1982.0,1,2016-12-31,2016-12-31,NaT,NaN,NaN,NaN
60495,60121,442,20:40:00,20:47:22,3339,Berkeley Pl & 6 Ave,40.676530,-73.978469,3339,Berkeley Pl & 6 Ave,...,27269,Subscriber,1964.0,1,2016-12-31,2016-12-31,NaT,NaN,NaN,NaN
60496,60122,100,20:53:59,20:55:40,3419,Douglass St & 4 Ave,40.679279,-73.981540,3417,Baltic St & 5 Ave,...,26970,Subscriber,1988.0,1,2016-12-31,2016-12-31,NaT,NaN,NaN,NaN
60497,60123,642,20:54:09,21:04:52,298,3 Ave & Schermerhorn St,40.686832,-73.979677,3308,Kane St & Clinton St,...,26899,Subscriber,1983.0,1,2016-12-31,2016-12-31,NaT,NaN,NaN,NaN
60498,60124,671,20:54:09,21:05:21,298,3 Ave & Schermerhorn St,40.686832,-73.979677,3308,Kane St & Clinton St,...,26779,Subscriber,1985.0,2,2016-12-31,2016-12-31,NaT,NaN,NaN,NaN
60499,60125,224,20:59:10,21:02:54,3415,Prospect Pl & 6 Ave,40.679331,-73.975195,3335,Union St & 4 Ave,...,25129,Subscriber,1986.0,2,2016-12-31,2016-12-31,NaT,NaN,NaN,NaN
60500,60126,965,21:02:15,21:18:20,3417,Baltic St & 5 Ave,40.679577,-73.978550,365,Fulton St & Grand Ave,...,26970,Subscriber,1988.0,1,2016-12-31,2016-12-31,NaT,NaN,NaN,NaN
60501,60127,1195,21:39:19,21:59:14,3416,7 Ave & Park Pl,40.677615,-73.973243,282,Kent Ave & S 11 St,...,25044,Subscriber,1990.0,2,2016-12-31,2016-12-31,NaT,NaN,NaN,NaN
60502,60128,489,21:42:33,21:50:42,397,Fulton St & Clermont Ave,40.684157,-73.969223,3420,Douglass St & 3 Ave,...,25920,Customer,NaN,0,2016-12-31,2016-12-31,NaT,NaN,NaN,NaN
60503,60129,341,21:58:00,22:03:42,397,Fulton St & Clermont Ave,40.684157,-73.969223,3416,7 Ave & Park Pl,...,25501,Subscriber,1981.0,2,2016-12-31,2016-12-31,NaT,NaN,NaN,NaN
60504,60130,349,22:08:26,22:14:15,420,Clermont Ave & Lafayette Ave,40.687645,-73.969689,354,Emerson Pl & Myrtle Ave,...,19556,Subscriber,1997.0,1,2016-12-31,2016-12-31,NaT,NaN,NaN,NaN
60505,60131,867,22:12:53,22:27:21,3429,Hanson Pl & Ashland Pl,40.685068,-73.977908,3249,Verona Pl & Fulton St,...,16417,Subscriber,1975.0,2,2016-12-31,2016-12-31,NaT,NaN,NaN,NaN
60506,60132,1004,22:14:27,22:31:12,3417,Baltic St & 5 Ave,40.679577,-73.978550,3404,7 St & 5 Ave,...,21425,Customer,NaN,0,2016-12-31,2016-12-31,NaT,NaN,NaN,NaN
60507,60133,1012,22:14:27,22:31:19,3417,Baltic St & 5 Ave,40.679577,-73.978550,3404,7 St & 5 Ave,...,18550,Customer,NaN,0,2016-12-31,2016-12-31,NaT,NaN,NaN,NaN
60508,60134,529,22:20:08,22:28:58,3429,Hanson Pl & Ashland Pl,40.685068,-73.977908,396,Lefferts Pl & Franklin Ave,...,26593,Subscriber,1991.0,1,2016-12-31,2016-12-31,NaT,NaN,NaN,NaN
60509,60135,331,22:27:55,22:33:27,467,Dean St & 4 Ave,40.683125,-73.978951,3371,4 Ave & 2 St,...,26446,Subscriber,1965.0,1,2016-12-31,2016-12-31,NaT,NaN,NaN,NaN
60510,60136,728,22:31:14,22:43:23,298,3 Ave & Schermerhorn St,40.686832,-73.979677,396,Lefferts Pl & Franklin Ave,...,26128,Subscriber,1971.0,1,2016-12-31,2016-12-31,NaT,NaN,NaN,NaN
60511,60137,680,22:44:29,22:55:50,3412,Pacific St & Nevins St,40.685376,-73.983021,3349,Grand Army Plaza & Plaza St West,...,22365,Subscriber,1967.0,2,2016-12-31,2016-12-31,NaT,NaN,NaN,NaN
60512,60138,875,22:47:03,23:01:39,83,Atlantic Ave & Fort Greene Pl,40.683826,-73.976323,244,Willoughby Ave & Hall St,...,16578,Subscriber,1956.0,2,2016-12-31,2016-12-31,NaT,NaN,NaN,NaN
60513,60139,870,22:47:03,23:01:34,83,Atlantic Ave & Fort Greene Pl,40.683826,-73.976323,244,Willoughby Ave & Hall St,...,16395,Subscriber,1956.0,1,2016-12-31,2016-12-31,NaT,NaN,NaN,NaN
60514,60140,230,22:56:48,23:00:38,353,S Portland Ave & Hanson Pl,40.685396,-73.974315,3417,Baltic St & 5 Ave,...,16345,Subscriber,1979.0,1,2016-12-31,2016-12-31,NaT,NaN,NaN,NaN
60515,60141,1723,23:00:35,23:29:19,416,Cumberland St & Lafayette Ave,40.687534,-73.972652,532,S 5 Pl & S 4 St,...,26359,Subscriber,1975.0,1,2016-12-31,2016-12-31,NaT,NaN,NaN,NaN
60516,60142,720,23:00:51,23:12:51,416,Cumberland St & Lafayette Ave,40.687534,-73.972652,242,Carlton Ave & Flushing Ave,...,25041,Subscriber,1975.0,1,2016-12-31,2016-12-31,NaT,NaN,NaN,NaN
60517,60143,282,23:03:33,23:08:15,83,Atlantic Ave & Fort Greene Pl,40.683826,-73.976323,3417,Baltic St & 5 Ave,...,25435,Subscriber,1971.0,1,2016-12-31,2016-12-31,NaT,NaN,NaN,NaN
60518,60144,211,23:22:58,23:26:29,3416,7 Ave & Park Pl,40.677615,-73.973243,3418,Plaza St West & Flatbush Ave,...,25776,Subscriber,NaN,0,2016-12-31,2016-12-31,NaT,NaN,NaN,NaN
60519,60145,985,23:25:00,23:41:26,3417,Baltic St & 5 Ave,40.679577,-73.978550,3349,Grand Army Plaza & Plaza St West,...,18945,Subscriber,1968.0,2,2016-12-31,2016-12-31,NaT,NaN,NaN,NaN
60520,60146,191,23:33:50,23:37:02,3416,7 Ave & Park Pl,40.677615,-73.973243,397,Fulton St & Clermont Ave,...,25501,Subscriber,1981.0,2,2016-12-31,2016-12-31,NaT,NaN,NaN,NaN
60521,60147,478,23:41:26,23:49:24,416,Cumberland St & Lafayette Ave,40.687534,-73.972652,3418,Plaza St West & Flatbush Ave,...,26136,Subscriber,1987.0,1,2016-12-31,2016-12-31,NaT,NaN,NaN,NaN

In [ ]:
joined.keys()

In [ ]:
joined.drop([u'Unnamed: 0'],axis=1,inplace=True)

In [ ]:
joined.head(1)

In [ ]:
for i in joined[joined.End_Time.isnull()].index:
    joined.loc[i,'End_Time'] = pd.to_datetime("21:00:00")

In [ ]:
type(joined['Date'][0])

In [ ]:
joined['Date'] = pd.to_datetime(joined['Date'])

In [ ]:
joined['weekend'] = [i in [5,6] for i in joined['Date'].dt.weekday.values]

In [ ]:
joined.head(1)

In [ ]:
joined['E_Time'] = pd.to_datetime(joined['End_Time']).dt.time

In [ ]:
joined.head(1)

In [ ]:
joined.columns

In [ ]:
joined = joined[['startdate', 'starttime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'stopdate', 'stoptime', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'tripduration', 'bikeid', 'usertype',
       'birth year', 'gender', 'Event_type',
       'End_Time', 'weekend']]

In [ ]:
joined.columns

In [ ]:
joined.columns = ['O_date', 'O_time', 'O_id', 'O_name',
       'O_lat', 'O_long', 'D_date',
       'D_time', 'D_id', 'D_name',
       'D_lat', 'D_long', 'duration',
       'bikeid', 'usertype', 'birthyear', 'gender', 'E_type', 'E_endtime',
       'weekend']
joined.head()

In [ ]:
joined.to_csv('JoinedEvent2_CB2016_subset_800m.csv')