In [2]:
import geopandas as gpd
import pandas as pd 
from shapely.geometry import Point
#import pysal as ps
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [3]:
bike = pd.read_csv('cartodb-query.csv')
bike.head()

,the_geom,end_stat_1,gender,bikeid,end_statio,start_st_1,tripdurati,field_1,usertype,cartodb_id,start_st_2,stoptime,birth_year,end_stat_3,end_stat_2,start_st_3,start_stat,starttime
0,NaN,DeKalb Ave & S Portland Ave,1,19838,241,324,169,2065,Subscriber,2066,DeKalb Ave & Hudson Ave,1/20/2016 23:34:37,1942.0,-73.974931,40.689810,-73.981013,40.689888,2016-01-20
1,NaN,Emerson Pl & Myrtle Ave,2,15454,354,243,647,3038,Subscriber,3039,Fulton St & Rockwell Pl,2/4/2016 19:26:10,1995.0,-73.962236,40.693631,-73.979382,40.688226,2016-02-04
2,NaN,E 10 St & Avenue A,1,22147,445,467,1918,4527,Subscriber,4528,Dean St & 4 Ave,2/20/2016 20:44:27,1984.0,-73.981420,40.727408,-73.978951,40.683125,2016-02-20
3,NaN,Stanton St & Chrystie St,1,22487,265,467,1939,5184,Subscriber,5185,Dean St & 4 Ave,2/28/2016 17:03:27,1983.0,-73.991475,40.722293,-73.978951,40.683125,2016-02-28
4,NaN,Kent Ave & S 11 St,1,21919,282,83,1081,5498,Subscriber,5499,Atlantic Ave & Fort Greene Pl,3/10/2016 16:51:55,1983.0,-73.968341,40.708273,-73.976323,40.683826,2016-03-10

In [29]:
bikesub = bike[['cartodb_id','start_st_1','end_statio','end_stat_3','end_stat_2','start_st_3','start_stat']]
bikesub.columns = ['id','start_id','end_id','end_long','end_lat','start_long','start_lan']

In [30]:
bikesub.head()

     id  start_id  end_id   end_long    end_lat  start_long  start_lan
0  2066       324     241 -73.974931  40.689810  -73.981013  40.689888
1  3039       243     354 -73.962236  40.693631  -73.979382  40.688226
2  4528       467     445 -73.981420  40.727408  -73.978951  40.683125
3  5185       467     265 -73.991475  40.722293  -73.978951  40.683125
4  5499        83     282 -73.968341  40.708273  -73.976323  40.683826

In [37]:
st_end = pd.DataFrame(bikesub.groupby(['start_id','end_id'],as_index=False).size())
st_end.reset_index(inplace=True)
st_end.columns = ['start_id','end_id','Count']
st_end.sort_values('Count',ascending=False).head(10)

      start_id  end_id  Count
2468       324     366   1072
2412       324     270   1057
2398       324     241    904
1028       258     324    684
2405       324     258    532
2408       324     262    527
713        243     270    516
2401       324     244    513
3008       384     244    493
2500       324     419    488

In [21]:
start = pd.DataFrame(bikesub.groupby(['start_id','start_long','start_lan'],as_index=False).size())
start.reset_index(inplace=True)
start.columns = ['start_id','start_long','start_lan','Count']
start.head()

   start_id  start_long  start_lan  Count
0        83  -73.976323  40.683826   7273
1       241  -73.974931  40.689810   3074
2       243  -73.979382  40.688226   5033
3       258  -73.968855  40.689407   4228
4       262  -73.973730  40.691782   2237

In [28]:
start.sort_values('Count',ascending=False)

    start_id  start_long  start_lan  Count
8        324  -73.981013  40.689888   9990
15       467  -73.978951  40.683125   7276
0         83  -73.976323  40.683826   7273
10       384  -73.964915  40.683048   6096
31      3429  -73.977908  40.685068   5551
2        243  -73.979382  40.688226   5033
5        274  -73.976682  40.686919   4954
11       395  -73.984106  40.688070   4867
3        258  -73.968855  40.689407   4228
13       416  -73.972652  40.687534   3894
9        353  -73.974315  40.685396   3539
16      3232  -73.983043  40.689622   3465
1        241  -73.974931  40.689810   3074
26      3416  -73.973243  40.677615   2901
7        298  -73.979677  40.686832   2638
12       397  -73.969223  40.684157   2576
28      3418  -73.971115  40.675021   2574
14       420  -73.969689  40.687645   2273
4        262  -73.973730  40.691782   2237
6        275  -73.965633  40.686501   2131
17      3335  -73.982820  40.677274   1769
30      3420  -73.984327  40.680213   1501
27      3417  -73.978550  40.679577   1450
29      3419  -73.981540  40.679279   1394
25      3415  -73.975195  40.679331   1332
20      3364  -73.981483  40.675162   1183
24      3414  -73.975673  40.680945   1027
19      3346  -73.975232  40.675147    990
21      3411  -73.986208  40.684967    988
18      3339  -73.978469  40.676530    940
23      3413  -73.982586  40.682755    855
22      3412  -73.983021  40.685376    667

In [8]:
#bikesub.dropna(axis=0, subset=['latitude','longitude'], inplace=True)
bikesub['start_lonlat'] = list(zip(bikesub.start_long, bikesub.start_lan))
#bikesub['start_lonlat'] = list(zip(bikesub.start_long, linkNYC.start_lan))
bikesub['geometry'] = bikesub[['start_lonlat']].applymap(lambda x:Point(x))
bikesub.head()

/usr/local/lib/python2.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/usr/local/lib/python2.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

,id,end_long,end_lat,start_long,start_lan,start_lonlat,geometry
0,2066,-73.974931,40.689810,-73.981013,40.689888,"(-73.981013, 40.689888)",POINT (-73.981013 40.689888)
1,3039,-73.962236,40.693631,-73.979382,40.688226,"(-73.979382, 40.688226)",POINT (-73.979382 40.688226)
2,4528,-73.981420,40.727408,-73.978951,40.683125,"(-73.97895137, 40.68312489)",POINT (-73.97895137 40.68312489)
3,5185,-73.991475,40.722293,-73.978951,40.683125,"(-73.97895137, 40.68312489)",POINT (-73.97895137 40.68312489)
4,5499,-73.968341,40.708273,-73.976323,40.683826,"(-73.97632328, 40.68382604)",POINT (-73.97632328 40.68382604)

In [9]:
bikesub_start= gpd.GeoDataFrame(bikesub)
bikesub_start.crs = {'init': 'epsg:4326'} 
bikesub_start.head()

,id,end_long,end_lat,start_long,start_lan,start_lonlat,geometry
0,2066,-73.974931,40.689810,-73.981013,40.689888,"(-73.981013, 40.689888)",POINT (-73.981013 40.689888)
1,3039,-73.962236,40.693631,-73.979382,40.688226,"(-73.979382, 40.688226)",POINT (-73.979382 40.688226)
2,4528,-73.981420,40.727408,-73.978951,40.683125,"(-73.97895137, 40.68312489)",POINT (-73.97895137 40.68312489)
3,5185,-73.991475,40.722293,-73.978951,40.683125,"(-73.97895137, 40.68312489)",POINT (-73.97895137 40.68312489)
4,5499,-73.968341,40.708273,-73.976323,40.683826,"(-73.97632328, 40.68382604)",POINT (-73.97632328 40.68382604)

In [12]:
bikesub_start

,id,end_long,end_lat,start_long,start_lan,start_lonlat,geometry
0,2066,-73.974931,40.689810,-73.981013,40.689888,"(-73.981013, 40.689888)",POINT (-73.981013 40.689888)
1,3039,-73.962236,40.693631,-73.979382,40.688226,"(-73.979382, 40.688226)",POINT (-73.979382 40.688226)
2,4528,-73.981420,40.727408,-73.978951,40.683125,"(-73.97895137, 40.68312489)",POINT (-73.97895137 40.68312489)
3,5185,-73.991475,40.722293,-73.978951,40.683125,"(-73.97895137, 40.68312489)",POINT (-73.97895137 40.68312489)
4,5499,-73.968341,40.708273,-73.976323,40.683826,"(-73.97632328, 40.68382604)",POINT (-73.97632328 40.68382604)
5,5536,-73.999733,40.719105,-73.976323,40.683826,"(-73.97632328, 40.68382604)",POINT (-73.97632328 40.68382604)
6,6036,-74.004607,40.712733,-73.979382,40.688226,"(-73.979382, 40.688226)",POINT (-73.979382 40.688226)
7,6070,-73.973730,40.691782,-73.979382,40.688226,"(-73.979382, 40.688226)",POINT (-73.979382 40.688226)
8,6812,-73.973730,40.691782,-73.973730,40.691782,"(-73.9737299, 40.6917823)",POINT (-73.97372990000001 40.6917823)
9,7297,-73.983043,40.689622,-73.979677,40.686832,"(-73.9796772, 40.68683208)",POINT (-73.9796772 40.68683208)
10,9254,-73.961259,40.720726,-73.969223,40.684157,"(-73.96922273, 40.68415748)",POINT (-73.96922273 40.68415748)
11,10575,-74.005139,40.739974,-73.978951,40.683125,"(-73.97895137, 40.68312489)",POINT (-73.97895137 40.68312489)
12,11575,-73.964763,40.688515,-73.976682,40.686919,"(-73.976682, 40.68691865)",POINT (-73.976682 40.68691865)
13,11894,-73.994539,40.735439,-73.978951,40.683125,"(-73.97895137, 40.68312489)",POINT (-73.97895137 40.68312489)
14,12951,-73.947679,40.680356,-73.973730,40.691782,"(-73.9737299, 40.6917823)",POINT (-73.97372990000001 40.6917823)
15,13066,-73.978951,40.683125,-73.984106,40.688070,"(-73.98410637, 40.68807003)",POINT (-73.98410637000001 40.68807003)
16,13526,-73.962236,40.693631,-73.981013,40.689888,"(-73.981013, 40.689888)",POINT (-73.981013 40.689888)
17,14584,-73.961651,40.720368,-73.969223,40.684157,"(-73.96922273, 40.68415748)",POINT (-73.96922273 40.68415748)
18,14661,-74.006180,40.736529,-73.976323,40.683826,"(-73.97632328, 40.68382604)",POINT (-73.97632328 40.68382604)
19,15055,-73.974931,40.689810,-73.981013,40.689888,"(-73.981013, 40.689888)",POINT (-73.981013 40.689888)
20,16660,-73.965369,40.691960,-73.981013,40.689888,"(-73.981013, 40.689888)",POINT (-73.981013 40.689888)
21,17416,-74.005139,40.739974,-73.978951,40.683125,"(-73.97895137, 40.68312489)",POINT (-73.97895137 40.68312489)
22,18417,-73.991475,40.722293,-73.978951,40.683125,"(-73.97895137, 40.68312489)",POINT (-73.97895137 40.68312489)
23,19157,-73.965633,40.686501,-73.981013,40.689888,"(-73.981013, 40.689888)",POINT (-73.981013 40.689888)
24,20064,-73.968415,40.707645,-73.976323,40.683826,"(-73.97632328, 40.68382604)",POINT (-73.97632328 40.68382604)
25,20097,-73.982578,40.702240,-73.979677,40.686832,"(-73.9796772, 40.68683208)",POINT (-73.9796772 40.68683208)
26,20446,-73.982050,40.735877,-73.979382,40.688226,"(-73.979382, 40.688226)",POINT (-73.979382 40.688226)
27,20993,-73.959282,40.686768,-73.978951,40.683125,"(-73.97895137, 40.68312489)",POINT (-73.97895137 40.68312489)
28,21195,-73.999979,40.691652,-73.978951,40.683125,"(-73.97895137, 40.68312489)",POINT (-73.97895137 40.68312489)
29,23689,-73.989129,40.689269,-73.979677,40.686832,"(-73.9796772, 40.68683208)",POINT (-73.9796772 40.68683208)
...,...,...,...,...,...,...,...
100636,100637,-73.947679,40.680356,-73.977908,40.685068,"(-73.977907598, 40.6850680731)",POINT (-73.97790759801859 40.6850680730818)
100637,100638,-73.985417,40.670492,-73.978550,40.679577,"(-73.97854971, 40.6795766)",POINT (-73.97854971 40.6795766)
100638,100639,-73.985417,40.670492,-73.978550,40.679577,"(-73.97854971, 40.6795766)",POINT (-73.97854971 40.6795766)
100639,100640,-73.955769,40.680342,-73.977908,40.685068,"(-73.977907598, 40.6850680731)",POINT (-73.97790759801859 40.6850680730818)
100640,100641,-73.985011,40.674613,-73.978951,40.683125,"(-73.97895137, 40.68312489)",POINT (-73.97895137 40.68312489)
100641,100642,-73.955769,40.680342,-73.979677,40.686832,"(-73.9796772, 40.68683208)",POINT (-73.9796772 40.68683208)
100642,100643,-73.981013,40.689888,-73.968855,40.689407,"(-73.96885458, 40.68940747)",POINT (-73.96885458 40.68940747)
100643,100644,-73.998699,40.676395,-73.984106,40.688070,"(-73.98410637, 40.68807003)",POINT (-73.98410637000001 40.68807003)
100644,100645,-73.970880,40.672968,-73.983021,40.685376,"(-73.98302136, 40.6853761)",POINT (-73.98302136 40.6853761)
100645,100646,-73.965369,40.691960,-73.976323,40.683826,"(-73.97632328, 40.68382604)",POINT (-73.97632328 40.68382604)
100646,100647,-73.965369,40.691960,-73.976323,40.683826,"(-73.97632328, 40.68382604)",POINT (-73.97632328 40.68382604)
100647,100648,-73.978550,40.679577,-73.974315,40.685396,"(-73.97431458, 40.68539567)",POINT (-73.97431458 40.68539567)
100648,100649,-73.973243,40.677615,-73.984106,40.688070,"(-73.98410637, 40.68807003)",POINT (-73.98410637000001 40.68807003)
100649,100650,-73.960876,40.710451,-73.972652,40.687534,"(-73.97265183, 40.68753406)",POINT (-73.97265183 40.68753406)
100650,100651,-73.973736,40.697787,-73.972652,40.687534,"(-73.97265183, 40.68753406)",POINT (-73.97265183 40.68753406)
100651,100652,-73.971115,40.675021,-73.968855,40.689407,"(-73.96885458, 40.68940747)",POINT (-73.96885458 40.68940747)
100652,100653,-73.971115,40.675021,-73.968855,40.689407,"(-73.96885458, 40.68940747)",POINT (-73.96885458 40.68940747)
100653,100654,-73.978550,40.679577,-73.976323,40.683826,"(-73.97632328, 40.68382604)",POINT (-73.97632328 40.68382604)
100654,100655,-73.975195,40.679331,-73.982820,40.677274,"(-73.98282002, 40.6772744)",POINT (-73.98282002000001 40.6772744)
100655,100656,-73.975195,40.679331,-73.982820,40.677274,"(-73.98282002, 40.6772744)",POINT (-73.98282002000001 40.6772744)
100656,100657,-73.994224,40.715816,-73.975232,40.675147,"(-73.9752320945, 40.6751468387)",POINT (-73.97523209452631 40.6751468387098)
100657,100658,-73.979382,40.688226,-73.968855,40.689407,"(-73.96885458, 40.68940747)",POINT (-73.96885458 40.68940747)
100658,100659,-73.970880,40.672968,-73.981483,40.675162,"(-73.9814832, 40.6751622)",POINT (-73.9814832 40.6751622)
100659,100660,-73.970880,40.672968,-73.981483,40.675162,"(-73.9814832, 40.6751622)",POINT (-73.9814832 40.6751622)
100660,100661,-73.971115,40.675021,-73.973243,40.677615,"(-73.97324283, 40.6776147)",POINT (-73.97324283 40.67761470000001)
100661,100662,-73.970880,40.672968,-73.978550,40.679577,"(-73.97854971, 40.6795766)",POINT (-73.97854971 40.6795766)
100662,100663,-73.985462,40.666318,-73.984106,40.688070,"(-73.98410637, 40.68807003)",POINT (-73.98410637000001 40.68807003)
100663,100664,-73.985462,40.666318,-73.984106,40.688070,"(-73.98410637, 40.68807003)",POINT (-73.98410637000001 40.68807003)
100664,100665,-73.969223,40.684157,-73.973243,40.677615,"(-73.97324283, 40.6776147)",POINT (-73.97324283 40.67761470000001)
100665,100666,-73.971115,40.675021,-73.972652,40.687534,"(-73.97265183, 40.68753406)",POINT (-73.97265183 40.68753406)