In [2]:
import numpy as np
import pandas as pd
import matplotlib.pylab as plt

In [3]:
event_xls = pd.read_excel('Event.xlsx')
event_xls.to_csv(r'Event.csv', encoding='utf-8')
event = pd.read_csv('Event.csv')

In [4]:
event.head()

,Unnamed: 0,EventID,Event_type,Name,Start_Time,Start_Hour,End_Time
0,169,1520000000000000,basketball,Harlem Globetrotters,2016-01-02T14:00:00-0500,NaN,2016-01-02T16:00:00-0500
1,168,1490000000000000,basketball,Harlem Globetrotters,2016-01-02T19:00:00-0500,NaN,2016-01-02T21:00:00-0500
2,167,201000000000000,basketball,Brooklyn Nets vs. Boston Celtics,2016-01-04T19:30:00-0500,NaN,2016-01-04T21:30:00-0500
3,166,1080000000000000,basketball,Brooklyn Nets vs. Toronto Raptors,2016-01-06T19:30:00-0500,NaN,2016-01-06T21:30:00-0500
4,165,1390000000000000,basketball,Brooklyn Nets vs. Orlando Magic,2016-01-08T19:30:00-0500,NaN,2016-01-08T21:30:00-0500

In [5]:
# remove timezone element
event['Start_Time'] = [str(i)[:-5] for i in event['Start_Time']]
event.head()

,Unnamed: 0,EventID,Event_type,Name,Start_Time,Start_Hour,End_Time
0,169,1520000000000000,basketball,Harlem Globetrotters,2016-01-02T14:00:00,NaN,2016-01-02T16:00:00-0500
1,168,1490000000000000,basketball,Harlem Globetrotters,2016-01-02T19:00:00,NaN,2016-01-02T21:00:00-0500
2,167,201000000000000,basketball,Brooklyn Nets vs. Boston Celtics,2016-01-04T19:30:00,NaN,2016-01-04T21:30:00-0500
3,166,1080000000000000,basketball,Brooklyn Nets vs. Toronto Raptors,2016-01-06T19:30:00,NaN,2016-01-06T21:30:00-0500
4,165,1390000000000000,basketball,Brooklyn Nets vs. Orlando Magic,2016-01-08T19:30:00,NaN,2016-01-08T21:30:00-0500

In [6]:
event['End_Time'] = [str(i)[:-5] for i in event['End_Time']]
event.head()

,Unnamed: 0,EventID,Event_type,Name,Start_Time,Start_Hour,End_Time
0,169,1520000000000000,basketball,Harlem Globetrotters,2016-01-02T14:00:00,NaN,2016-01-02T16:00:00
1,168,1490000000000000,basketball,Harlem Globetrotters,2016-01-02T19:00:00,NaN,2016-01-02T21:00:00
2,167,201000000000000,basketball,Brooklyn Nets vs. Boston Celtics,2016-01-04T19:30:00,NaN,2016-01-04T21:30:00
3,166,1080000000000000,basketball,Brooklyn Nets vs. Toronto Raptors,2016-01-06T19:30:00,NaN,2016-01-06T21:30:00
4,165,1390000000000000,basketball,Brooklyn Nets vs. Orlando Magic,2016-01-08T19:30:00,NaN,2016-01-08T21:30:00

In [7]:
event['Start_Time'] = pd.to_datetime(event['Start_Time'], format='%Y-%m-%dT%H:%M:%S')
event['Start_Hour'] = event['Start_Time'].dt.hour
event.head()

,Unnamed: 0,EventID,Event_type,Name,Start_Time,Start_Hour,End_Time
0,169,1520000000000000,basketball,Harlem Globetrotters,2016-01-02 14:00:00,14,2016-01-02T16:00:00
1,168,1490000000000000,basketball,Harlem Globetrotters,2016-01-02 19:00:00,19,2016-01-02T21:00:00
2,167,201000000000000,basketball,Brooklyn Nets vs. Boston Celtics,2016-01-04 19:30:00,19,2016-01-04T21:30:00
3,166,1080000000000000,basketball,Brooklyn Nets vs. Toronto Raptors,2016-01-06 19:30:00,19,2016-01-06T21:30:00
4,165,1390000000000000,basketball,Brooklyn Nets vs. Orlando Magic,2016-01-08 19:30:00,19,2016-01-08T21:30:00

In [8]:
event['End_Time'] = pd.to_datetime(event['End_Time'], format='%Y-%m-%dT%H:%M:%S')
event['End_Hour'] = event['End_Time'].dt.hour
event.head()

,Unnamed: 0,EventID,Event_type,Name,Start_Time,Start_Hour,End_Time,End_Hour
0,169,1520000000000000,basketball,Harlem Globetrotters,2016-01-02 14:00:00,14,2016-01-02 16:00:00,16
1,168,1490000000000000,basketball,Harlem Globetrotters,2016-01-02 19:00:00,19,2016-01-02 21:00:00,21
2,167,201000000000000,basketball,Brooklyn Nets vs. Boston Celtics,2016-01-04 19:30:00,19,2016-01-04 21:30:00,21
3,166,1080000000000000,basketball,Brooklyn Nets vs. Toronto Raptors,2016-01-06 19:30:00,19,2016-01-06 21:30:00,21
4,165,1390000000000000,basketball,Brooklyn Nets vs. Orlando Magic,2016-01-08 19:30:00,19,2016-01-08 21:30:00,21

In [9]:
event_evening = event[event['Start_Hour']>=17.0]
event_evening.head()

,Unnamed: 0,EventID,Event_type,Name,Start_Time,Start_Hour,End_Time,End_Hour
1,168,1490000000000000,basketball,Harlem Globetrotters,2016-01-02 19:00:00,19,2016-01-02 21:00:00,21
2,167,201000000000000,basketball,Brooklyn Nets vs. Boston Celtics,2016-01-04 19:30:00,19,2016-01-04 21:30:00,21
3,166,1080000000000000,basketball,Brooklyn Nets vs. Toronto Raptors,2016-01-06 19:30:00,19,2016-01-06 21:30:00,21
4,165,1390000000000000,basketball,Brooklyn Nets vs. Orlando Magic,2016-01-08 19:30:00,19,2016-01-08 21:30:00,21
5,164,1230000000000000,basketball,Brooklyn Nets vs. San Antonio Spurs,2016-01-11 19:30:00,19,2016-01-11 21:30:00,21

In [10]:
event_evening['weekday'] = [i not in [5,6] for i in event_evening['Start_Time'].dt.weekday.values]
event_evening

/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

,Unnamed: 0,EventID,Event_type,Name,Start_Time,Start_Hour,End_Time,End_Hour,weekday
1,168,1490000000000000,basketball,Harlem Globetrotters,2016-01-02 19:00:00,19,2016-01-02 21:00:00,21,False
2,167,201000000000000,basketball,Brooklyn Nets vs. Boston Celtics,2016-01-04 19:30:00,19,2016-01-04 21:30:00,21,True
3,166,1080000000000000,basketball,Brooklyn Nets vs. Toronto Raptors,2016-01-06 19:30:00,19,2016-01-06 21:30:00,21,True
4,165,1390000000000000,basketball,Brooklyn Nets vs. Orlando Magic,2016-01-08 19:30:00,19,2016-01-08 21:30:00,21,True
5,164,1230000000000000,basketball,Brooklyn Nets vs. San Antonio Spurs,2016-01-11 19:30:00,19,2016-01-11 21:30:00,21,True
6,163,920000000000000,basketball,Brooklyn Nets vs. New York Knicks,2016-01-13 19:30:00,19,2016-01-13 21:30:00,21,True
7,162,111000000000000,basketball,Brooklyn Nets vs. Portland Trail Blazers,2016-01-15 19:30:00,19,2016-01-15 21:30:00,21,True
8,161,1720000000000000,boxing,Heavyweight Championship: Deontay Wilder v. Ar...,2016-01-16 18:00:00,18,2016-01-16 19:00:00,19,False
11,158,1650000000000000,basketball,Brooklyn Nets vs. Cleveland Cavaliers,2016-01-20 19:30:00,19,2016-01-20 21:30:00,21,True
12,157,1660000000000000,concert,Kygo,2016-01-21 20:00:00,20,2016-01-21 23:00:00,23,True
13,156,887000000000000,basketball,Brooklyn Nets vs. Utah Jazz,2016-01-22 19:30:00,19,2016-01-22 21:30:00,21,True
14,155,464000000000000,basketball,Brooklyn Nets vs. Oklahoma City Thunder,2016-01-24 19:30:00,19,2016-01-24 21:30:00,21,False
15,154,1070000000000000,basketball,Brooklyn Nets vs. Miami Heat,2016-01-26 19:30:00,19,2016-01-26 21:30:00,21,True
16,153,917000000000000,concert,Muse: Drones World Tour,2016-01-27 19:30:00,19,2016-01-27 22:30:00,22,True
17,152,496000000000000,basketball,Brooklyn Nets vs. Detroit Pistons,2016-02-01 19:30:00,19,2016-02-01 21:30:00,21,True
18,151,851000000000000,basketball,Brooklyn Nets vs. Indiana Pacers,2016-02-03 19:30:00,19,2016-02-03 21:30:00,21,True
19,150,1270000000000000,basketball,Brooklyn Nets vs. Sacramento Kings,2016-02-05 19:30:00,19,2016-02-05 21:30:00,21,True
20,149,1720000000000000,basketball,Brooklyn Nets vs. Denver Nuggets,2016-02-08 19:30:00,19,2016-02-08 21:30:00,21,True
21,148,1520000000000000,basketball,Brooklyn Nets vs. Memphis Grizzlies,2016-02-10 19:30:00,19,2016-02-10 21:30:00,21,True
22,147,498000000000000,other,Ladies Night R&B Super Jam,2016-02-12 20:00:00,20,2016-02-12 23:00:00,23,True
23,146,926000000000000,concert,Maxwell and Nas,2016-02-14 20:00:00,20,2016-02-14 23:00:00,23,False
24,145,442000000000000,basketball,Brooklyn Nets vs. New York Knicks,2016-02-19 19:30:00,19,2016-02-19 21:30:00,21,True
25,144,712000000000000,basketball,Brooklyn Nets vs. Charlotte Hornets,2016-02-21 18:00:00,18,2016-02-21 20:00:00,20,False
28,141,514000000000000,hockey,New York Islanders vs. Pittsburgh Penguins,2016-03-08 19:30:00,19,2016-03-08 21:30:00,21,True
29,140,1500000000000000,basketball,Atlantic 10 Men's Basketball Championship: Fir...,2016-03-09 18:30:00,18,2016-03-09 20:30:00,20,True
31,138,446000000000000,basketball,Atlantic 10 Men's Basketball Championship: Sec...,2016-03-10 18:30:00,18,2016-03-10 20:30:00,20,True
33,136,1680000000000000,basketball,Atlantic 10 Men's Basketball Championship: Qua...,2016-03-11 18:30:00,18,2016-03-11 20:30:00,20,True
37,132,1650000000000000,basketball,Brooklyn Nets vs. Milwaukee Bucks,2016-03-13 20:00:00,20,2016-03-13 22:00:00,22,False
38,131,1190000000000000,basketball,Brooklyn Nets vs. Philadelphia 76ers,2016-03-15 19:30:00,19,2016-03-15 21:30:00,21,True
39,130,186000000000000,hockey,New York Islanders vs. Philadelphia Flyers,2016-03-21 19:30:00,19,2016-03-21 21:30:00,21,True
...,...,...,...,...,...,...,...,...,...
130,39,893000000000000,family,Disney On Ice presents Follow Your Heart,2016-11-13 17:00:00,17,2016-11-13 19:00:00,19,False
131,38,157000000000000,hockey,New York Islanders v. Tampa Bay Lightning (Bro...,2016-11-14 19:00:00,19,2016-11-14 21:00:00,21,True
132,37,1640000000000000,basketball,LIU Brooklyn Blackbirds Men's Basketball vs. L...,2016-11-16 19:00:00,19,2016-11-16 21:00:00,21,True
133,36,1620000000000000,hockey,New York Islanders V Pittsburgh Penguins,2016-11-18 19:00:00,19,2016-11-18 21:00:00,21,True
134,35,237000000000000,concert,Keith Urban - ripCORD World Tour 2016,2016-11-19 19:30:00,19,2016-11-19 22:30:00,22,False
136,33,178000000000000,basketball,Legends Classic Basketball Doubleheader,2016-11-21 19:00:00,19,2016-11-21 21:00:00,21,True
140,29,939000000000000,basketball,Brooklyn Nets v. Boston Celtics,2016-11-23 19:30:00,19,2016-11-23 21:30:00,21,True
143,26,584000000000000,basketball,Barclays Center Classic Day 1,2016-11-25 19:00:00,19,2016-11-25 21:00:00,21,True
145,24,292000000000000,basketball,Barclays Center Classic Day 2,2016-11-26 19:00:00,19,2016-11-26 21:00:00,21,False
147,22,552000000000000,basketball,Brooklyn Nets v. Sacramento Kings (Texting Glo...,2016-11-27 18:00:00,18,2016-11-27 20:00:00,20,False
148,21,1770000000000000,hockey,New York Islanders v. Calgary Flames (Rally To...,2016-11-28 19:00:00,19,2016-11-28 21:00:00,21,True
149,20,1020000000000000,basketball,Brooklyn Nets v. Los Angeles Clippers,2016-11-29 19:30:00,19,2016-11-29 21:30:00,21,True
150,19,262000000000000,hockey,New York Islanders v. Pittsburgh Penguins,2016-11-30 20:00:00,20,2016-11-30 22:00:00,22,True
151,18,955000000000000,basketball,Brooklyn Nets v. Milwaukee Bucks,2016-12-01 19:30:00,19,2016-12-01 21:30:00,21,True
152,17,202000000000000,hockey,New York Islanders v. Detroit Red Wings,2016-12-04 18:00:00,18,2016-12-04 20:00:00,20,False
153,16,1770000000000000,basketball,Brooklyn Nets v. Washington Wizards,2016-12-05 19:30:00,19,2016-12-05 21:30:00,21,True
154,15,657000000000000,hockey,New York Islanders v. New York Rangers,2016-12-06 19:00:00,19,2016-12-06 21:00:00,21,True
155,14,1220000000000000,basketball,Brooklyn Nets v. Denver Nuggets (Brook Lopez S...,2016-12-07 19:30:00,19,2016-12-07 21:30:00,21,True
156,13,1560000000000000,hockey,New York Islanders v. St. Louis Blues,2016-12-08 19:00:00,19,2016-12-08 21:00:00,21,True
157,12,1320000000000000,family,Wcbs-Fm 101.1 Presents Holiday in Brooklyn,2016-12-09 20:00:00,20,2016-12-09 22:00:00,22,True
159,10,974000000000000,hockey,New York Islanders v. Washington Capitals (Sta...,2016-12-13 19:00:00,19,2016-12-13 21:00:00,21,True
160,9,1250000000000000,basketball,Brooklyn Nets v. Los Angeles Lakers,2016-12-14 19:30:00,19,2016-12-14 21:30:00,21,True
161,8,1230000000000000,hockey,New York Islanders V Chicago Blackhawks,2016-12-15 19:00:00,19,2016-12-15 21:00:00,21,True
162,7,239000000000000,hockey,New York Islanders V Ottawa Senators (Ugly Hol...,2016-12-18 19:00:00,19,2016-12-18 21:00:00,21,False
163,6,1200000000000000,basketball,LIU Brooklyn Blackbirds Men's Basketball vs. N...,2016-12-21 17:00:00,17,2016-12-21 19:00:00,19,True
164,5,1180000000000000,basketball,Brooklyn Nets v. Golden State Warriors,2016-12-22 19:30:00,19,2016-12-22 21:30:00,21,True
165,4,1580000000000000,hockey,New York Islanders V Buffalo Sabres,2016-12-23 19:00:00,19,2016-12-23 21:00:00,21,True
167,2,1190000000000000,basketball,Brooklyn Nets v. Charlotte Hornets (Winter Sca...,2016-12-26 19:30:00,19,2016-12-26 21:30:00,21,True
168,1,1120000000000000,hockey,New York Islanders V Washington Capitals,2016-12-27 19:00:00,19,2016-12-27 21:00:00,21,True
169,0,908000000000000,boxing,WWE Live Holiday Tour,2016-12-28 19:30:00,19,2016-12-28 20:30:00,20,True

In [12]:
event_evening.to_csv('events2016_subset_end.csv')